<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Capilla Marin | Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/styles/styles_new_post.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/ico" href="/assets/img/favicon.ico"> 
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <p class="navbar-brand">Capilla Marín - Admin</p>
        </nav>
        <a href="/admin/posts" class="back-link">Atrás</a>
        <div class="container">
            <h1 class="new-novedad-h1">Editar Novedad</h1>
            <div class="new-form-container">
                <form action="/post/edit/<%=post.id%>" method='post' class="new-form">
                    <select value="<%=post.section%>" class="form-control new-form-input" id="post-section-id" name="Seleccionar Categoría" autofocus required>
                        <option value="default">Seleccionar categoría</option>
                        <option value="Matrimonios">|Serv para la Com.| Matrimonios</option>
                        <option value="Bautismos">|Serv para la Com.| Bautismos</option>
                        <option value="Visitas a Enfermos">|Serv para la Com.| Visitas a enfermos</option>
                        <option value="Adoración">|Esp y Form.| Adoración</option>
                        <option value="Equipo Organizador">|Esp y Form. - Liturgia| Equipo Organizador</option>
                        <option value="Equipo de Ministros">|Esp y Form. - Liturgia| Equipo de Ministros</option>
                        <option value="Coro">|Esp y Form. - Liturgia| Coro</option>
                        <option value="Sacristanes">|Esp y Form. - Liturgia| Sacristanes</option>
                        <option value="Charlas Universitarias">|Esp y Form. - Char. y Ret.| Charlas Universitarias</option>
                        <option value="Charlas Abiertas">|Esp y Form. - Char. y Ret.| Charlas Abiertas</option>
                        <option value="Entretiempo">|Esp y Form. - Char. y Ret.| Entretiempo</option>
                        <option value="Oportunidad">|Esp y Form. - Char. y Ret.| Oportunidad</option>
                        <option value="Retiros Comunitarios">|Esp y Form. - Char. y Ret.| Retiros Comunitarios</option>
                        <option value="Confirmación">|Jóvenes| Confirmación</option>
                        <option value="Post Confirmación">|Jóvenes| Post Confirmación</option>
                        <option value="Universitarios">|Jóvenes| Universitarios</option>
                        <option value="Misión">|Jóvenes| Misión</option>
                        <option value="Cáritas">|Inic. Solidarias| Cáritas</option>
                        <option value="Proyectos de la Comunidad">|Inic. Solidarias| Proyectos de la Comunidad</option>
                    </select>
                    <br>
                    <input type="text" name="title" value="<%=post.title%>" class="title form-control new-form-input" required>
                    <br>
                    <input type="file" vaule="<%=post.img_path%>"id="post-file-id" class="new-form-input form-control-file" name="fileName" accept="image/*" required>
                    <br>
                    <br>
                    <textarea name="body" class="form-control new-form-input" required><%=post.body%></textarea> 
                    <br>
                    <button type="submit" id="submit-post-upload" class="btn btn-md btn-primary"><i class="far fa-save"></i>Guardar</button>
                    <button class="btn btn-primary" id="loading-btn" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Guardando...
                    </button>
                </form> 
            </div>
            
        </div>
    </body>
</html>