<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Capilla Marin | Novedades</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/styles/styles_home.css" type="text/css">
        <link rel="stylesheet" href="/assets/styles/styles_post.css" type="text/css">
        <link rel="shortcut icon" type="image/ico" href="/assets/img/favicon.ico">
        </head>
    <body>
    <!-- Navbar -->
         <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img src="/assets/img/logo.png" alt="marin-logo" class="logo-img"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
             <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Servicios para la comunidad
                        </div>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_1">
                            <a class="dropdown-item" href="#">Matrimonios</a>
                            <a class="dropdown-item" href="#">Bautismos</a>
                            <a class="dropdown-item" href="#">Visitas a enfermos</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Espiritualidad y Formación
                        </div>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_2">
                            <a class="dropdown-item" href="#">Adoración</a>
                            <!-- Submenu -->
                            <ul className="ul-submenu-dropdown">
                                <li class="dropdown-submenu" id="dropdown-submenu-liturgia">
                                    <a class="dropdown-item submenu-div dropdown-toggle" tabindex="-1" href="#" id="navbarDropdownMenuLink_21" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Liturgia </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_21">
                                        <li><a tabindex="-1" href="#" class="dropdown-item">Equipo Organizador</a></li>
                                        <li><a tabindex="-1" href="#" class="dropdown-item">Equipo de Ministros</a></li>
                                        <li><a tabindex="-1" href="#" class="dropdown-item">Coro</a></li>
                                        <li><a tabindex="-1" href="#" class="dropdown-item">Sacristanes</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- --------- -->
                            <!-- Submenu -->
                            <ul className="ul-submenu-dropdown">
                                <li class="dropdown-submenu" id="dropdown-submenu-charlas">
                                    <a class="dropdown-item submenu-div dropdown-toggle" tabindex="-1" href="#" id="navbarDropdownMenuLink_22" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Charlas y Retiros </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_22">
                                        <li><a tabindex="-1" href="#" class="dropdown-item">Charlas Universitarias</a></li>
                                        <li><a tabindex="-1" href="#" class="dropdown-item">Charlas Abiertas a la Comunidad</a></li>
                                        <li><a tabindex="-1" href="#" class="dropdown-item">Entretiempo</a></li>
                                        <li><a tabindex="-1" href="#" class="dropdown-item">Oportunidad</a></li>
                                        <li><a tabindex="-1" href="#" class="dropdown-item">Retiros Comunitarios</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- --------- -->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Jóvenes
                        </div>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_3">
                            <a class="dropdown-item" href="#">Confirmación</a>
                            <a class="dropdown-item" href="#">Post Confirmación</a>
                            <a class="dropdown-item" href="#">Universitarios</a>
                            <a class="dropdown-item" href="#">Misión</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Iniciativas Solidarias
                        </div>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_4">
                            <a class="dropdown-item" href="#">Cáritas</a>
                            <a class="dropdown-item" href="#">Proyectos de la Comunidad</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="novedad-wrapper">
                <h1 class="post_title"><%=post.title%></h1>
                <p><%=post.date%> - <%=post.time%></p>
                <div class="img-wrapper">
                    <img src="<%=post.img_url%>" class="post_img" alt="post_img">
                </div>
                <div class="body-wrapper">
                    <p class="post_body"><%-post.body%></p>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="/assets/js/main.js"></script>
    </body>
</html> 